body{
    background-color: white;
    background-image: url("images/gif.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.homeButton{
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
}

.linkList{
    width: 100px;
    height: 300px;
    right: 0px;
    bottom: 100px;
    position: absolute;
    background-color: grey;
}

.linkButton1{
    background-color: black;
    color: white;
    width: 60px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.linkButton2{
    background-color: black;
    color: white;
    width: 60px;
    height: 25px;
    position: absolute;
    top: 40px;
    right: 20px;
}

<img src="picture.jpg" alt="picture" style="width:800px;height:600px;">